@import "normalize";

#container {
  width: 500px;
  margin-left: 20px;
}

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.todo-list__item {
  padding: 10px;
  margin: 0;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
.todo-list__item-text {
  padding: 0 10px;
  font-size: 16px;
}
.todo-list__item-text--completed {
  color: #d9d9d9;
  text-decoration: line-through;
  font-weight: normal;
}

.todo-new {
  list-style: none;
  clear: both;
  padding: 0 10px;
  margin: 0 10px;
}

.todo-new__item {
  padding: 0 10px;
  z-index: 100;
}

