@import "normalize";
@import "../../node_modules/react-datepicker/dist/react-datepicker.min.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

#container {
  width: 500px;
  margin-left: 20px;
}

.todo-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.todo-list__item {
  margin: 10px;
  border-bottom: 1px solid #cccccc;
}
.todo-list__item-text {
  padding: 0px 10px;
  font-size: 16px;
}
.todo-list__item-text--completed {
  color: #d9d9d9;
  text-decoration: line-through;
  font-weight: normal;
}

.todo-list__item--new {
  padding: 0px 10px;
}

